# Creating and Manipulating IPv4 Address Database using MySQL and Python

### Introduction

In this blog/project, we will be learning how to manipulate databases in MySQL with Python! The database that will be manipulated will be one that contains various IPv4 addresses.

Python DB-API is Python's standard for working with databases and supports a variety of database servers such as mySQL, PostgreSQL, Microsoft SQL Server, and Oracle. 

MySQLdb is a module within Python that connects the database API to the MySQL database server and allows for communication.

To import the library, the following import function can be used:

In [ ]:
import MySQLdb

To open up a database connection using MySQLdb, the following *basic* 
syntax can be used when creating a function for it:

In [ ]:
db = MySQLdb.connect(host, username, passwd, dbName)

To view more advanced paramaters, you can visit [this link](https://mysqlclient.readthedocs.io/user_guide.html#mysqldb-mysql).

To pass on SQL queries, a cursor must be created first.

In [ ]:
cursor = db.cursor

From here, SQL queries can be executed. The example below passes on a query to create a database named "Example"

In [ ]:
cursor.execute("CREATE DATABASE EXAMPLE")

### Database Creation

Now that some of the basics have been covered, we can create a sample database with some IPs!
To initialize the database, the first four lines of code will be as shown below.

In [ ]:
import MySQLdb
db = MySQLdb.connect(host, username, passwd)
cursor = db.cursor
cursor.execute("CREATE DATABASE IPV4")

Now that the database has been created, tables can be created within the database. In this example, only one table will be used called ip_table. It will also have three variables being ip_address, subnet_mask, and gateway.

In [ ]:
table_query = "CREATE TABLE ip_table(
                ip_address VARCHAR(15),
                subnet_mask VARCHAR(15),
                gateway VARCHAR(15));"

cursor.execute(table_query)

The above query will create an empty table that looks similar as below.

|ip_address|subnet_mask|gateway|
|---|---|---|
| | | |

Now that the table has been created, some entries can then be inserted into the table as shown in the following query. Note that in order to push the changes to the table, the record would have to be commited as shown below as well.

In [ ]:
insert_query = "INSERT INTO ip_table
                (ip_address, subnet_mask, gateway)
                VALUES ('192.168.1.50', '255.255.0.0', '192.168.1.1'),
                ('172.16.1.60', '255.240.0.0', '172.16.0.1'),
                ('10.1.1.70', '255.0.0.0', '10.0.0.1')"
                
cursor.execute(insert_query)
db.commit()

The above query will create a table that looks as below.

|ip_address|subnet_mask|gateway|
|---|---|---|
|192.168.1.50|255.255.0.0|192.168.1.1|
|172.16.1.60|255.240.0.0|172.16.0.1|
|10.1.1.70|255.0.0.0|10.0.0.1|

If you wanted to print all of the records to a Python terminal, the following query can be ran to select the table followed by the print function

In [ ]:
select_query = "SELECT * FROM ip_table"
cursor.execute(select_query)
records = cursor.fetchall()

for x in records:
    print(x)

### Database Manipulation

Updating records in a table is the same process as what we have worked with previously to run queries. The following query will update the ip_address "192.168.1.50" to be "192.168.2.50".

In [ ]:
update_query = "UPDATE ip_table SET ip_address = "192.168.2.50" WHERE ip_address = "192.168.1.50""
cursor.execute(update_query)
db.commit()

The table will now look as shown below.

|ip_address|subnet_mask|gateway|
|---|---|---|
|192.168.2.50|255.255.0.0|192.168.1.1|
|172.16.1.60|255.240.0.0|172.16.0.1|
|10.1.1.70|255.0.0.0|10.0.0.1|

If these IP addresses were to be sorted by number, it can be done through the following query.

In [ ]:
SELECT ip_address FROM ip_table ORDER BY ip_address

The following result would be obtained.

|ip_address|
|---|
|10.1.1.70|
|172.16.1.60|
|192.168.2.50|

Records can also be deleted through the same method we have used. An example is shown below.

In [ ]:
delete_query = "DELETE FROM ip_table WHERE ip_address = "10.1.1.70"""
cursor.execute(delete_query)
db.commit()

### Conclusion

Once your program has completed, you will want to disconnect from the server using the following function.

In [ ]:
db.close()

While Python has its many uses, its functionality to connect with SQL databases is pretty simple. Even though there are more efficient languages to do this with such as JavaScript and PHP, it was fun to learn and it seems as if Python could have some use for database manipulation when it comes to smaller sized databases and queries. I hope you enjoyed the tutorial!

Ryan